/* Enter your custom styles here */


#searchField {
    justify-content: flex-end;
}

.titleAdm {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 8px;
}

.titleCompany {
    padding-bottom: 10px;
    margin-left: 5px;
    font-size: 18px;
}

.tabInfo {
    padding-top: 25px;
    width: 100%;
}

#columnButton {
    display: flex;
    align-items: start;
}

#myBtn {
    padding-bottom: 10px;
}

